*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build
build
/app/release
*.apk
*.aab
.kotlin
node_modules
.vercel
node_modules
node_modules
